@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author: Amber McElroy  
   Date:  4-6-25   
   
  

*/

* {
    margin: 0; 
    padding: 0;
}
body {
    font-size: 2.1em;
    font-family: Garamond, Helvetica, sans-serif;
	background-color: white;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: CadetBlue;
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px dotted DarkCyan;
    box-shadow: 5px 5px 5px 0 #888888;
    border-radius: 25px; 
	border-radius: 15px;
	background-color: white;
}

nav {
	background-color: Darkcyan;
    width:175px;
    margin: 5px 15px 15px 10px; 
    float: left;
    text-align: Left;
}

nav ul {
    font-weight: bold;
    list-style: none;
	
}

nav ul li a {
    padding: 5px;
    color: ivory;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/bambispixlog.jpg); 
}

#main p {
    text-indent: 1.5em;
}

figure#me{
	padding: 0px;
	margin:10px;
    text-align: center;
	height: auto;
	width: auto;
	opacity: 95%;
	border: 5px solid Ivory;	
}
figure{
	display:block;
	flex-wrap: nowrap;
	padding: 0px;
    text-align: center;
	border: 2px solid DarkCyan;
}
img{
	border-radius:10px;
	height: 150px;
	width: auto;
}
img#me{
	border-radius:10px;
}


figcaption {
    font-style: italic;
	font-size: 0.7em;
	text-align:left;
	color: ivory;
	
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.8em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: gray;
    clear: both;
    color: ivory;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: ivory;
    text-decoration: none;
}

footer a:visited {
    color:ivory;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
