@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author: Amber McElroy  
   Date:  4-6-25   
   
  

*/

* {
    margin: 0; 
    padding: 0;
}
body {
	border:none;
    font-size: 2.1em;
    font-family: Garamond, Helvetica, sans-serif;
	background-color: #164f57;

}

#container {
    width: 960px;
    border-width: 10px;
    margin: 0 auto;
    background-color: CadetBlue;
}


header {
    width: auto;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 0 #164f57;
    border-radius: 5px; 
	background-color: white;
}

nav {
	padding: 10px 15px;
	background-color: Darkcyan;
	border-radius:15px;
    width:96%;
    margin: 5px 15px 15px 10px; 
    float: left;
	display:inline;
    text-align: Left;
	overflow: hidden;
}

nav ul {
	justify-content: center;
	display: flex;
	flex-wrap: nowrap;
	font-weight: bold;
    list-style: none;
	
}

nav ul li a {
    padding:10px 25px;
    color: #d3d5cf;
	border: 1px solid #d3d5cf;
	border-radius: 10px;
    display:block;
}

nav ul li a:hover {
    background:gray;
    border-radius: 15px;
    color: white;
}

#main {
    width: 600px;
    padding: 10px;
    float: left;
    color: #d3d5cf;
	text-shadow: gray;
}

#main p {
    text-indent: 1.5em;
	color:black;
}

figure#me{
	padding: 0px;
	margin:10px;
    text-align: left;
	height:250px;
	width: 250px;
	opacity: 95%;
	border: 5px solid #d3d5cf;
	border-radius:10px;
}
figure{
	display:block;
	flex-wrap: nowrap;
	padding: 0px;
    text-align: center;
	
}
img{
	border:3px solid #d3d5cf;
	border-radius:10px;
	height:250px;
	width: auto;
}
img#me{
	border-radius:10px;
	margin:0px;
}


figcaption {
    font-style: italic;
	font-size: 0.5em;
	text-align:center;
	color: #d3d5cf;
	
	
}

aside {
    width: 250px;
    margin: 5px 5px 5px 5px;
    padding: 1px;
    float: left;
}

aside p {
    font-style: italic;
    font-size: 0.8em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
	
}

h3 {
    text-align: center;
	color:#d3d5cf;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: auto;
    margin: 0;
  
    background-color: gray;
    clear: both;
    color: #d3d5cf;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
 
   
}/* navigation for footer */
footer a:link {
    color: #d3d5cf;
    text-decoration: none;
}

footer a:visited {
    color:#d3d5cf;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
